@import './src/fonts/fonts.scss';
.container {
    padding: 3vh;
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    @apply bg-neutral-800
}
.footItem {
    font-size: $defaultText;
    cursor: pointer;
    color: rgb(150, 150, 150);
    &:hover {
        color: white;
    }
}
@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        row-gap: 2vh;
        margin-top: 0;
    }
}