* {
  font-family: "Rubik";
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.active {
  @apply border-b md:border-neutral-800 border-white
}
.contacts-enter-active {
  animation: showContacts 0.6s forwards;
}
.contacts-exit-active {
  animation: showContacts 0.6s reverse;
}

.bg-enter-active {
  animation: showBg 0.6s forwards;
}
.bg-exit-active {
  animation: showBg 0.6s reverse;
}

.toy-enter-active {
  animation: toyVariantIn 0.6s forwards;
}
.toy-exit-active {
  animation: toyVariantIn 0.6s reverse;
}

.tovarpopup-enter-active {
  animation: popupImg 0.21s forwards;
}
.tovarpopup-exit-active {
  animation: popupImg 0.21s reverse;
}
@keyframes popupImg {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
@keyframes showContacts {
  0%{
      opacity: 0;
      transform: translateY(-50%);
  }
  100%{
      opacity: 1;
      transform: translateY(0);
  }
}
@keyframes showBg {
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}
@keyframes toyVariantIn {
  0% {
      transform: rotateZ(0);
      opacity: 0;
  }
  25% {
      transform: rotateZ(-5deg);
  }
  50% {
      transform: rotateZ(5deg);
      opacity: 1;
  }
  100% {
      transform: rotateZ(0);
  }
}
